*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.contenedor{
    background:orangered;
    height: 500px;
    width: 80%;
    /*position: relative;*/
     margin: 50px auto;
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
    /* justify-content: space-around;*/
    /* align-items: center;*/
}

/*
.centro{
   position: absolute;
   color: aliceblue;
   height:120px;
   width: 180px;
   left: 20px;
   text-align: center;

}

.letter{
    background: #3498DB;
    height:100px;
    width: 180px;
    margin: 30px;
    padding: 20px;
}

*/

.letter{
    background:#3498DB;
    height:100px;
    width: 180px;
    margin: 30px;
    padding: 20px;
    color: aliceblue;
    text-align: center;
    font-size: 55px;
    
    
}

.otro{
    align-self: stretch;
    height: auto;
}



